@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

body {
    margin: 0;
    font-family: 'Outfit', sans-serif;
}


/* Quickie Text Color Starts Here. */
.text-white {
    color: white;
}

.text-grey {
    color: #E1E1E1;
}

.text-black {
    color: black;
}

.text-blue {
    color: #005EF9;
}

.text-green
{
    color: #198754;
}

.text-deco {
    text-decoration: none;
}

.text-deco a {
    text-decoration: none;
}
/* Quickie Text Color Ends Here. */


/* Quickie Background Colors Starts Here. */
.bg-white {
    background-color: white;
}

.bg-black {
    background-color: black;
}

.bg-red {
    background-color: red;
}

.bg-blue {
    background-color: #005EF9;
}

.bg-grey {
    background-color: #E1E1E1;
}
/* Quickie Background Colors Ends Here. */


/* Quickie Height Starts Here*/
.height-50 {
    height: 50px;
}

.height-100 {
    height: 100px;
}

.height-150 {
    height: 150px;
}

.height-200 {
    height: 200px;
}

.height-250 {
    height: 250px;
}
/* Quickie Height Ends Here. */



/* Styling For Both Nav Starts Here */
.nav_tabs a
{
    display: inline-block;
    position: relative;
    color: #058034;
}

.nav_tabs a::after 
{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav_tabs a:hover::after 
{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.dropdown_menu_list li a 
{
    color: grey;
    text-decoration: none;
}

.carousel_inner_img .carousel_item_img img
{
    height: 40rem;
    object-fit: fill;
}

.brand_logo span
{
    color: #058034;
    font-weight: 500;
}

.brand_logo img 
{
    object-fit: fill;
}

.social_icons a
{
    color: #198754;
}

.social_icons a:hover
{
    color: #198754;
    background-color: white;
}
/* Styling For Both Nav Ends Here */



/* Carousel Image Overlay Styling Starts Here */
.bg_image_best
{
    opacity: 0.8;
    background-color: #ddccf0 !important;
    margin-bottom: 10%;
    margin-top:10%; 
    margin-left:16%;
    width:25% !important;
}

.bg_image_best h1
{
    font-weight: 700;
}

.bg_image_best p
{
    font-weight: 600;
}
/* Carousel Image Overlay Styling Ends Here */



/* Section Of the iPad Styling Starts Here */
.section_img1
{
    background-color: #c5e4d1 !important;
}

.bg_image_wood
{
    /* opacity: 0.8; */
    margin-bottom: 10%;
    margin-top: auto !important; 
    margin-left:16%;
    width:25% !important;
}

.bg_image_wood h1
{
    font-weight: 700;
}

.bg_image_wood p
{
    font-weight: 600;
}

.ipad_display img
{
    width: 100% !important;
    height: auto !important;
}
/* Section Of the iPad Styling Ends Here */



/* Side Bar Styling Starts Here */

/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #e2ece2;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #aedaac;
    color: white;
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

  /* Side Bar Styling Ends Here */
